.prewiev_img {
  height: 324px;
  width: 100%;
  img {
    width: 100%;
  }
}

.profile_wrap {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .avatar {
    margin-right: 20px;
    img {
      max-width: 150px;
    }
  }
  .profile {
    .name {
      font-size: 20px;
      margin-bottom: 20px;
      display: block;
    }
    .info {
      .info_item {
      }
    }
  }
}
