.sidebar{
    grid-area: sidebar;
    background-color: #00ff00;
    width: 300px;
    padding: 10px;
    
    .menu {
      .item {
        a {
        }
      }
    }
    
    .settings {
      padding-top: 50px;
    }
  }