.sidebar {
  grid-area: sidebar;
  background-color: burlywood;
  width: 300px;
  padding: 10px;

  .menu {
  }

  .item {
    a {
      color: #fff;
      &.active {
          color: gold;     
      }
    }
   
  }

  .settings {
    padding-top: 50px;
  }
}
