.dialogs {

}

.dialogs_title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.dialogs_wrap {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 10fr; 
}

.dialogs_items {
    li {
        &.active {
            color: green;
        }
    }
}

.messages {
}
