.dialogs {

}

.dialogs_title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.dialogs_wrap {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 10fr; 
}

.dialogs_items {
    li {
        &.active {
            color: green;
        }
    }
}

.messages {
}

.sendMEssage {
    padding-top: 40px;
    textarea {
        width: 100%;
        max-width: 400px;
    }

    button {
        width: 100%;
        max-width: 150px;
        background-color: #eee;
    }
}
